<a href="https://colab.research.google.com/github/cyuancheng/Titanic/blob/master/pandas_cheeting_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [0]:
import pandas as pd

In [2]:
pd.DataFrame({'yes':[1,2], 'no':[3,4]})

   no  yes
0   3    1
1   4    2

In [5]:
pd.DataFrame({'A':[1,2,3],'B':[4,5,6]}, index=['a','b','c'])

   A  B
a  1  4
b  2  5
c  3  6

In [13]:
pd.DataFrame([[30, 21],[1,2]], columns=['Apples', 'Bananas'], index=['a','b'])

   Apples  Bananas
a      30       21
b       1        2

In [8]:
pd.Series([1,2,3], index=['a','b','c'], name='aaa')

a    1
b    2
c    3
Name: aaa, dtype: int64

In [14]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
ingredients = pd.Series(quantities, index=items, name = 'Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [0]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

In [0]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

In [0]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

In [0]:
reviews.loc[reviews.price.notnull()]

In [0]:
reviews.taster_name.value_counts()

In [0]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

In [0]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

In [0]:
reviews.groupby('points').points.count()

In [0]:
reviews.groupby('points').price.min()

In [0]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.argmax()])

In [0]:
reviews.groupby(['country']).price.agg([len, min, max])

In [0]:
countries_reviewed.sort_values(by='len')

In [0]:
countries_reviewed.sort_values(by='len', ascending=False)

In [0]:
countries_reviewed.sort_values(by=['country', 'len'])